[package]
authors = ["David Pedersen <david.pdrsn@gmail.com>"]
categories = []
description = "Web framework that focuses on ergonomics and modularity"
documentation = "https://docs.rs/tower-http/0.1.0"
edition = "2018"
homepage = "https://github.com/davidpdrsn/tower-web"
keywords = ["http", "web", "framework"]
license = "MIT"
name = "tower-web"
readme = "README.md"
repository = "https://github.com/davidpdrsn/tower-web"
version = "0.1.0"

[features]
ws = ["tokio-tungstenite", "sha-1", "base64"]

[dependencies]
async-trait = "0.1"
bytes = "1.0"
futures-util = "0.3"
http = "0.2"
http-body = "0.4"
hyper = "0.14"
pin-project = "1.0"
regex = "1.5"
serde = "1.0"
serde_json = "1.0"
serde_urlencoded = "0.7"
tokio = { version = "1", features = ["time"] }
tower = { version = "0.4", features = ["util", "buffer", "make"] }
tower-http = { version = "0.1", features = ["add-extension"] }

# optional dependencies
tokio-tungstenite = { optional = true, version = "0.14" }
sha-1 = { optional = true, version = "0.9.6" }
base64 = { optional = true, version = "0.13" }

[dev-dependencies]
hyper = { version = "0.14", features = ["full"] }
reqwest = { version = "0.11", features = ["json", "stream"] }
serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1.6.1", features = ["macros", "rt", "rt-multi-thread"] }
tracing = "0.1"
tracing-subscriber = "0.2"
uuid = "0.8"

[dev-dependencies.tower]
version = "0.4"
features = [
    "util",
    "timeout",
    "limit",
    "load-shed",
    "steer",
    "filter",
]

[dev-dependencies.tower-http]
version = "0.1"
features = [
    "add-extension",
    "auth",
    "compression",
    "compression-full",
    "fs",
    "redirect",
    "trace",
]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[package.metadata.playground]
features = ["ws"]
