[package]
categories = ["asynchronous", "network-programming", "web-programming"]
description = "Extra utilities for axum"
edition = "2018"
homepage = "https://github.com/tokio-rs/axum"
keywords = ["http", "web", "framework"]
license = "MIT"
name = "axum-extra"
readme = "README.md"
repository = "https://github.com/tokio-rs/axum"
version = "0.3.4"

[features]
default = []

async-read-body = ["tokio-util/io"]
cookie = ["cookie-lib"]
cookie-private = ["cookie", "cookie-lib/private"]
cookie-signed = ["cookie", "cookie-lib/signed"]
erased-json = ["serde_json", "serde"]
form = ["serde", "serde_html_form"]
ndjson = ["serde_json", "serde", "tokio-util/io", "tokio-stream/io-util"]
query = ["serde", "serde_html_form"]
spa = ["tower-http/fs"]
typed-routing = ["axum-macros", "serde", "percent-encoding"]

[dependencies]
axum = { path = "../axum", version = "0.5", default-features = false }
bytes = "1.1.0"
futures-util = { version = "0.3", default-features = false, features = ["alloc"] }
http = "0.2"
mime = "0.3"
pin-project-lite = "0.2"
tokio = "1.19"
tower = { version = "0.4", default_features = false, features = ["util"] }
tower-http = { version = "0.3", features = ["map-response-body"] }
tower-layer = "0.3"
tower-service = "0.3"

# optional dependencies
axum-macros = { path = "../axum-macros", version = "0.2.2", optional = true }
cookie-lib = { package = "cookie", version = "0.16", features = ["percent-encode"], optional = true }
percent-encoding = { version = "2.1", optional = true }
serde = { version = "1.0", optional = true }
serde_html_form = { version = "0.1", optional = true }
serde_json = { version = "1.0.71", optional = true }
tokio-stream = { version = "0.1", optional = true }
tokio-util = { version = "0.7", optional = true }

[dev-dependencies]
axum = { path = "../axum", version = "0.5", features = ["headers"] }
futures = "0.3"
hyper = "0.14"
reqwest = { version = "0.11", default-features = false, features = ["json", "stream", "multipart"] }
serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1.14", features = ["full"] }
tower = { version = "0.4", features = ["util"] }

[package.metadata.docs.rs]
all-features = true
rustdocflags = ["--cfg", "docsrs"]
